@import "colors/blazer.css";

* {
    all: unset;
    font-family: "CaskaydiaCove Nerd Font Propo", "JetBrainsMono Nerd Font Propo", "Noto Sans CJK JP", "Noto Sans CJK KR";
    font-size: 14px;
    font-weight: 800;
    color: @fg;
}

tooltip {
    border: 1px @bg2 solid;
    background-color: @bg1;
    color: @fg;
    padding: 10px 24px;
    border-radius: 8px;
}

.modules-center {
    background-color: @bg0;
    padding: 2px 12px;
    border-radius: 99px;
    border: 1px @bg3 solid;
}

#clock {
    font-weight: 800;
}

#workpaces {
    background-color: @green;
}

#workspaces button {
    color: @fg;
    border: 1px @bg4 solid;
    font-size: 13px;
    padding: 1px 8px;
    background-color: @bg1;
    border-radius: 99px;
    margin: 2px 2px;
    transition: min-width 250ms;
}

#workspaces button.active {
    background-color: @purple;
    min-width: 1.25rem;
    font-weight: 500;
    border: 1px @purple solid;
}

#battery {
    background-color: @blue;
    margin: 6px 0;
    padding: 0 8px;
    border-radius: 99px;
    font-weight: 500;
    color: @bg1;
    letter-spacing: -1px;
}

#battery.warning {
    background-color: @yellow;
}

#battery.critical{
    background-color: @red;
}

#tray {
    margin: 0 16px 0 0;
}

#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 4px;
    color: @fg;
}

#window,
#workspaces {
    margin: 0 16px;
}

